body{
	font-family: 'Lato', sans-serif;
}
img{
	width: 100%;
}
.quitar-float{
	float: none;
}
.espacio-arriba{
	margin-top: 100px;
}
.espacio-derecha{
	margin-right: 1em;
}
.alin-arriba{
	vertical-align: top;
}
.frijole{
	font-family: 'frijole', cursive;
}
.grande{
	font-size: 3em;
}
.mediano{
	font-size: 1.5em;
}
.azul{
	color: #000645;
}
.se-gris{
	background-color: #eee;
}
.padding-largo{
	padding: 5px 10px;
}
.inline-block{
	float: none;
	display: inline-block;
	margin-right: -4px;
}
.no-lista{
	margin: 0px;
	padding: 0px;
}
.no-lista li{
	list-style-type: none;
}
.retraso-1{
	animation-delay: 1s;
}
.retraso-2{
	animation-delay: 2s;
}
a, .morado{
	color: #310070;
}